<div id="change-password-container" class="container">
  <form (ngSubmit)="changePassword()">
    <h2>Change Password</h2>
    <div class="form-group">
      <input
        type="email"
        class="form-control"
        placeholder="Email"
        [(ngModel)]="changePasswordData.email"
        name="email"
        required
      />
      <label>Email Address</label>
    </div>
    <div class="form-group">
      <input
        type="password"
        class="form-control"
        placeholder="Old Password"
        [(ngModel)]="changePasswordData.oldPassword"
        name="oldPassword"
        required
      />
      <label>Old Password</label>
    </div>
    <div class="form-group">
      <input
        type="password"
        class="form-control"
        placeholder="New Password"
        [(ngModel)]="changePasswordData.newPassword"
        name="newPassword"
        required
      />
      <label>New Password</label>
    </div>
    <div class="form-group">
      <button type="submit">Change Password</button>
    </div>
  </form>
</div>
